d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8

d-i netcfg/get_hostname string fdikarev42
d-i netcfg/get_domain string ""

d-i hw-detect/load_firmware boolean true

d-i mirror/country string manual
d-i mirror/http/hostname string ftp.de.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin

### Account setup
d-i passwd/root-password password r%%tme
d-i passwd/root-password-again password r%%tme

d-i passwd/user-fullname string Fedor Dikarev
d-i passwd/username string fdikarev
d-i passwd/user-password password us8me
d-i passwd/user-password-again password us8me

### Partition

d-i partman-auto/method string crypto
d-i partman-crypto/passphrase password lvm%pass
d-i partman-crypto/passphrase-again password lvm%pass
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm_nooverwrite boolean true

d-i partman-auto-crypto/erase_disks boolean false

d-i partman-auto-lvm/new_vg_name string fdikarev
d-i partman-auto-lvm/guided_size string max

d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select root-encrypted
d-i partman-auto/expert_recipe string                         \
      root-encrypted ::                                       \
              500 500 500 ext3                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              500 10000 1000000000 ext4                       \
                      $lvmok{ } lv_name{ root }               \
                      in_vg { crypt }                         \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .                                               \
              2000 2000 2000 linux-swap                       \
                      $lvmok{ } lv_name{ swap }               \
                      in_vg { crypt }                         \
                      $primary{ }                             \
                      method{ swap } format{ }                \
              .                                               \
              500 10000 4000  ext4                            \
                      $lvmok{ } lv_name{ home }               \
                      in_vg { crypt }                         \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ /home }                     \
              .

d-i partman-auto/confirm boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-md/confirm boolean true
d-i partman-parititioning/confirm_write_new_label boolean true

### Package selection
tasksel tasksel/first multiselect ssh-server
d-i pkgsel/include string sudo

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

d-i finish-install/reboot_in_progress note


### Apt-setup
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

### Late command
d-i	preseed/late_command string cp /cdrom/files/post_install.sh /target/root/; chmod +x /target/root/post_install.sh; in-target bash /root/post_install.sh
